.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-25%);
    box-shadow: 0px 0px 25px 3px rgba(39,194,124,1);
    border-radius: 15px;
    padding: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;

    &_input{
        margin: 10px;
        background-color: rgba(28, 230, 196,0.8);
        box-shadow: 0px 0px 25px 3px rgba(39,194,124,1);
        color: black;
    }
    &_checkbox{
        margin: 0px 10px;
    }
    &_reset{
        margin: 20px;
        border-radius: 5px;
        background-color: rgba(28, 230, 196,0.8);
        box-shadow: 0px 0px 25px 3px rgba(39,194,124,1);
        border-style: none;
        padding: 7px 17px;
    }
}