.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_logo{
        margin-top: 25px;
        width: 40%;
    }
    &_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}