.info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 0px 25px 3px rgba(39,194,124,1);
    width: 70%;

    &_link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1ce6c4;
    }

    &_info{
        margin-left: 100px;
        margin-right: 100px;
    }

    &_img{
        background-color: #1ce6c4;
        margin-top: 10px;
        &-cont{
            border-radius: 50px
        }
    };
    &_name{
        font-size: 26px;
        padding: 10px;
        background-color: #1ce6c4;
        color: black;
        font-family: 'Hanalei Fill', cursive;
    };
    &_species{
        font-size: 20px;
        margin-bottom: 15px;
        background-color: #1ce6c4;
        color: black;
        font-weight: 700;
        font-family: 'Amatic SC', cursive;
    };

    @media all and (min-width: 768px){
        width: 50%;
    }
    @media all and (min-width: 1200px){
        width: 30%;
    }
};