.notFound{
    display: flex;
    flex-direction: column;
    font-size: 42px;
    align-items: center;
    margin-top: 50px;
    font-weight: 700;
}

.goHomePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 22px;
}